#sub{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5%;
  background-color: white;
  height: 70px;
}
#sub > div{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#sub > div a{
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}
#sub img{
  height: 100%;
}
#sub > button{
  background-color: #D7AB61;
  border: 1px solid black;
  text-transform: uppercase;
  height: 60%;
  width: 15%;
}
#sub > button span{
  position: relative;
  top: 5px;
  left: 20%;
  font-weight: bold;
}
