<section id="sub">
  <div>
    <img src="https://i.ibb.co/xqrcpVZ/logoStar.png" alt="logoStar">
    <a href="">noticias</a>
    <a href="">funcionalidades</a>
    <div mdbDropdown class="dropdown">
      <button
        class="btn btn-light dropdown-toggle fw-bold text-uppercase"
        type="button"
        id="dropdownMenuButton"
        aria-expanded="false"
        mdbDropdownToggle
      >
        Multimedia
      </button>
      <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
  </div>
  <button><span>compra ya</span></button>
</section>
