#banner{
  height: 80vh;
  background-image: url("https://images.ctfassets.net/rporu91m20dc/66BsNQnEeFPkm7X3errKqp/e30b4d01d3c5e673b9d62fbb5207c1c4/Starfield-hero-instant-classic.jpg?h=650&w=1920&q=70&fm=webp");
  background-repeat: no-repeat;
  background-position: center center;
}
