header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3%;
  background-color: #494949;
  height: 60px;
  > div{
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  button{
    background-color: transparent;
    border: none;
    color: white;
  }
}
header > div:first-child > button:first-child{
  font-size: 20px;
}
header > div:last-child > button:first-child{
  font-size: 20px;
}
header > div:last-child > button:last-child{
  border: 1px solid white;
  text-transform: uppercase;
  padding: 5px 10px;
}
#logo{
  width: 90px;
  height: 14px;
}
