<div id="contenedor" class="container-fluid">
  <div id="description">
    <h3>{{ titleDescription }}</h3>
    <div class="row">
      <p>{{ contentDescription }}</p>
      <img src="" [src]="imgDescription" width="60%" alt="">
    </div>
  </div>
  <div class="row">
    <!-- <mat-card class="col-4 example-card">
      <img mat-card-image src="https://images.ctfassets.net/rporu91m20dc/3Rr89T0dlhiLSSTAmAcTL1/30d6954b1b428be02ff54a39721afda0/Starfield_LargeHero_TestedFrontierModel.png?h=695&w=770&fit=fill&fm=webp" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>Noticias</p>
        <p>
          La Frontier de Starfield cobra vida de la mano de Tested
        </p>
      </mat-card-content>
    </mat-card> -->
  </div>
  <app-news></app-news>

  <!-- <div style="height: 1000px;"></div> -->
</div>
